/* ***************************GENERAL************************** */
.container{
    width: 95%;
    margin: 0 auto;
}
body{
    font-family: 'Raleway', sans-serif;
}

/* ***************************HEADER**************************** */

.entete{
    display:flex;
    justify-content: space-between;
}
.entete ul{
    display: flex;
}
.entete ul li{
    padding: 1em;
    list-style-type: none;
}
.entete ul li a{
    text-decoration: none;
    color: #0065FC;
}
.title2ndPart{
    font-weight: 300;
    font-size: 0.7em;
}

/* ***************************MAIN***************************** */

    /* ---------Formulaire------------- */

.formulaire{
    border-radius: 15px;
    display: flex;
    width: 20em;
    height: 3.6em;
}
.icona .fas{
    padding: 1.4em;
}
.formulaire input{
    padding-top: 1.5em;
    font-weight: bold;    
    color: black;
    height: 1em;
    padding-bottom: 1.5em;
}
.formulaire a{
    padding: 1.2em;
    width: 7em;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.icona{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #F2F2F2;
}

   /* ---------Filtres------------- */

#filtres ul{
    padding: 0;
    width: 45rem;   
}

#filtres li{
    font-weight: bold;
    list-style-type: none;
   padding-right: 0.7rem;
   
}
#filtres ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    
}
#filtres ul li:first-child{
    padding-top: 1rem;
}
#filtres ul li a{
    text-decoration: none;
    color: black;
}
.buttonFilter{
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    /* padding: 1em; */
}
.buttonFilter .fas{
    color: #0065FC;
    padding-right: 1rem;
    background-color: #F2F2F2;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 0.7rem;

}
/* #filtres ul li{
    padding-top: 1rem;
} */