/* ***************************GENERAL************************** */
.container{
    width: 95%;
    margin: 0 auto;
}
body{
    font-family: 'Raleway', sans-serif;
}

/* ***************************HEADER**************************** */

.entete{
    display:flex;
    justify-content: space-between;
}
.entete ul{
    display: flex;
}
.entete ul li{
    padding: 1em;
    list-style-type: none;
}
.entete ul li a{
    text-decoration: none;
    color: #0065FC;
}
.title2ndPart{
    font-weight: 300;
    font-size: 0.7em;
}

/* ***************************MAIN***************************** */

/* .formulaire{
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
   
}
.formulaire .search a{
    color: #0065FC;
    text-decoration: none;
    width: 5em;
    
}
.formText{
    margin-bottom: 1em;
}
.search{
    width: 3em;
} */

.formulaire{
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
    width: 20em;
    height: 3.6em;
}
.icona .fas{
    padding: 1.4em;
}
.formulaire input{
    padding-top: 1.5em;
    font-weight: bold;    
    color: black;
    height: 1em;
    padding-bottom: 1.5em;
}
.formulaire a{
    padding: 1.2em;
    width: 7em;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.icona{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #F2F2F2;
}